$dv-primary-color: #4fc2ca;
$dv-default-text-color: #9c8f8f;
$dv-title-text-color: #39CCCC;

$container-background-color: #f5f5f5;
$menubar-background: #525262;
$menubar-color: #f5f5f5;
$active-menu-color: #919191;

$white-color: #ffffff;
$black-color: #000000;
$gray-color: #5a5a5a;

$warning-color: #ffcc00;
$error-color: #ff3333;
$success-color: #5cb85c;
